<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>CKO Tokenization</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">CKO Tokenization</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cards}">All Cards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cards?type=n3ds}">Non-3DS Cards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cards?type=3ds1}">3DS1 Cards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cards?type=3ds2}">3DS2 Cards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cards?scheme=Visa}">Visa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cards?scheme=Mastercard}">Mastercard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cards?scheme=Amex}">Amex</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cards?scheme=Other}">Other schemes</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h1> Card List </h1>
    </div>

        <div class = "row">
            <div class = "col-lg-3">
                <a th:href = "@{/card/tokenize/new}" class = "btn btn-primary btn-sm mb-3"> Tokenize Custom Card</a>
            </div>
        </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th> Card Number</th>
            <th> Expiry Month</th>
            <th> Expiry Year</th>
            <th> CVV</th>
            <th> Type</th>
            <th> Description</th>
            <th> Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="card: ${cards}">
            <td th:text="${card.card_number}"></td>
            <td th:text="${card.expiry_month}"></td>
            <td th:text="${card.expiry_year}"></td>
            <td th:text="${card.cvv}"></td>
            <td th:text="${card.type}"></td>
            <td th:text="${card.description}"></td>
            <td>
                <a th:href="@{/card/tokenize/{id}(id=${card.card_number})}"
                   class="btn btn-primary">Tokenize</a>
            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>